/*
!/.gitignore
!/LICENSE
!/plans.txt
!/patchouli_books
!/resource_locations.txt



!/defaultconfigs
/defaultconfigs/*
!/defaultconfigs/immersiveengineering-server.toml

!/config
/config/*
#Tweaks
!/config/fancymenu
!/config/securitycraft-client.toml
!/config/betterf3.toml
!/config/ancient_aether-client.toml
!/config/presencefootsteps/userconfig.json
!/config/paxi
!/config/roughlyenoughitems
!/config/effective_fg-client.toml
!/config/darkmodeeverywhere-client.toml
!/config/darkmodeeverywhereshaders.json
!/config.worldstripper
!/config/defaultoptions
!/config/pamhc2crops.toml
!/config/itlt-client.toml
!/config/lmft.json
!/config/emi.css
!/config/ambientsounds-client.json
#Performance
!/config/immediatelyfast.json
!/config/forge-client.toml
!/config/ferritecore-mixin.toml
!/config/c2me.toml
!/config/modernfix-mixins.properties
!/config/fml.toml
!/config/logbegone.toml
#Difficulty
!/config/improvedmobs
!/config/incontrol
!/config/forgivingworld.json
!/config/esm-config.toml
!/config/notreepunching.toml
!/config/primalstage.json5
!/config/toughasnails
!/config/hardcore_torches-common.toml
!/config/angrymobs-common.toml
!/config/difficultylock.json5
!/config/coalexplosion-common.toml
!/config/quark-common.toml
!/config/treechop-common.toml
!/config/treechop-client.toml
!/config/mutantmonsters-common.toml
!/config/lava_monster-common.toml
#Worldgen
!/config/the_bumblezone
!/config/traverse
!/config/biomeswevegone
!/config/biomesoplenty
!/config/geologicexpansion-common.toml
!/config/promenade
!/config/chancecubes
#Materials
!/config/betternether
!/config/almostunified
!/config/Mekanism
!/config/immersiveengineering-common.toml
!/config/ProjectRed.cfg

!/kubejs
/kubejs/probe/
/kubejs/jsconfig.json
/kubejs/README.txt
/kubejs/data


