/*
!/.gitignore
!/LICENSE
!/plans.txt
!/patchouli_books
!/resource_locations.txt



!/defaultconfigs
/defaultconfigs/*
!/defaultconfigs/immersiveengineering-server.toml

!/config
/config/*
#Visual
!/config/fancymenu/
!/config/securitycraft-client.toml
!/config/betterf3.toml
!/config/ancient_aether-client.toml
!/config/presencefootsteps/userconfig.json
!/config/paxi/ (find a better way)
!/config/effective_fg-client.toml,
!/config/darkmodeeverywhere-client.toml
!/config/darkmodeeverywhereshaders.json
#Performance
!/config/immediatelyfast.json
!/config/forge-client.toml
!/config/ferritecore-mixin.toml
!/config/lithium.properties
!/config/c2me.toml
!/config/modernfix-mixins.properties
#Mobs
!/config.improvedmobs/
!/config.incontrol/spawn.json
!/config.forgivingworld.json
!/config.#global-gamerules.toml
!/config.esm-config.toml
!/config.notreepunching.toml
!/config.toughasnails/temperature.toml
#Worldgen
!/config.the_bumblezone/
!/config.terrestria/biome.json
!/config.terrestria/
!/config.traverse/
!/config.biomeswevegone/
!/config.biomesoplenty/
!/config.geologicexpansion-common.toml
!/config.promenade/ {world_features.json animals.json}
!/config.worldstripper/
!/config.betternether/generator.json
!/config.almostunified/
!/config.Mekanism/world.toml
!/config.immersiveengineering-common.toml
!/config.ProjectRed.cfg

!/kubejs
/kubejs/probe/
/kubejs/jsconfig.json
/kubejs/README.txt
/kubejs/data


