# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*

# Unignore 'dynamicAssetFolders'
!run/kubejs

# Files from Forge MDK
forge*changelog.txt
